name: PR Unit Tests
run-name: PR with Unit Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Setup Gradle Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Unit Tests
        run: ./gradlew core:test -Pkover koverXmlReport

      - name: Upload Unit Test Results
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: unit-test-results
          path: build/reports/kover

      - name: Add coverage report to PR
        uses: mi-kas/kover-report@v1
        with:
          path: build/reports/kover/report.xml
          title: Code Coverage
          update-comment: true
          min-coverage-overall: 40
          min-coverage-changed-files: 40
          coverage-counter-type: LINE

